@media screen and (min-width: 1366px) {
    .home {
        background: $ColorFour;
        // background-image: url('../../assets/img/seaside.jpg');
        height: 100vh;
        // padding: 300px 10vw 0 10vw;
        // img {
        //     height: 100%;
        //     width: 100%;
        //     position: absolute;
        //     z-index: -1;
        // }

        .home-overlay {
            // background: $ColorFour;
            height: 100vh;
            opacity: .5;
            position: absolute;
            width: 100vw;
            z-index: 1;
        }

        .home-header {
            padding: 300px 10vw 0 10vw;
            position: absolute;
            top: 0;
            width: 1000px;
            z-index: 2;

            .text-responsive {
                font-size: calc(90% + 3vw + 3vh);
            }

            .text-p {
                font-size: calc(20% + 2.5vw);
                line-height: 50px;
            }

            h1 {
                font-family: $MainFont;
                // font-size: 65pt;
                margin-bottom: 37px;
            }

            p {
                // color: $FontColor;
                // color: $ColorTwo;
                color: #333;
                font-family: $SecondaryFont;
                // font-size: 22pt;
                line-height: 37px;
            }
        }
    }
}