// fonts
$MainFont: "Playfair Display", serif;
$SecondaryFont: "Montserrat", sans-serif;

// responsive font sizes
// @import "../node_modules/rfs/scss";

// colors
$ColorOne: #fff;
$ColorTwo: rgb(250, 250, 250);
$ColorThree: #2d545e;
// $ColorFour: #e1b382;
$ColorFour: #e1b382be;
$ColorFive: #c89666;

// secondary font color
$FontColor: #5a5a5a;
